@page "/"
@using System.Net.Http;
@using System.Text.Json;
@using System.Net.Http.Headers;
@using System.Threading.Tasks;
@using System.Net;
@using TeslaAPI.Component;
@using TeslaAPI.Component.Commands;
@using TeslaAPI.Data;
@using System.Diagnostics;
@using System.Text;
@using IdentityModel;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.JSInterop;
@inject FavoriteCommands favoriteCommands;
@inject VehicleDataResponse vehicleData;
@inject IJSRuntime jsRuntime;
@inject NavigationManager NavigationManager;

<PageTitle>Index</PageTitle>
<h1>Tesla API</h1>
<p>Your battery level is at @battery %</p>
<p>Sentry mode is @sentrymode</p>

@foreach (var item in favoriteCommands.Commands)
{
    <MudItem xs="6" sm="3">
        <MudButton @onclick="@(() => CommandTrigger(@item))" Class="d-flex align-center justify-center mud-width-full py-8">
            <p>@item.Name</p>
            <p>@item.Value</p>
        </MudButton>
    </MudItem>
}


@code 
{
    string? VIN;
    int? battery;
    string? preconditioning_times;
    string? precont_enable;
    string? partnerToken;
    string? userToken;
    bool sentrymode;

    protected override async Task OnInitializedAsync()
    {
        partnerToken = await PartnerToken.GetPartnerToken(jsRuntime);
        Debug.Print("Init, le Partner Token = " + partnerToken);
        userToken = await UserToken.GetUserToken(NavigationManager, jsRuntime);
        Debug.Print("Init, le User Token = " + userToken);
        await DisplayFavoriteCommands();
        if (userToken != null)
        {
            GetAllVIN getAllVIN = new(userToken);
            VIN = await getAllVIN.GetVIN();
            if (VIN != null)
            {
                vehicleData = await WakeUp.GetVehicleInfo(VIN, userToken);
                if (vehicleData != null)
                {
                    await Task.Delay(2000);
                    SetData(vehicleData);
                }
                else
                {
                    vehicleData = await WakeUp.WakeItUp(VIN, userToken);
                }
            }
        }
    }
    private async Task DisplayFavoriteCommands()
    {
        if (favoriteCommands.Commands.Count == 0)
        {
            Debug.Print(" No Favorite, let's check in local storage");
            LocalStorageService localStorageService = new LocalStorageService(jsRuntime);
            var storedFavoriteCommands = await localStorageService.GetItemAsync<FavoriteCommands>("FavCommands");
            if (storedFavoriteCommands != null)
            {
                foreach (var command in storedFavoriteCommands.Commands)
                {
                    favoriteCommands.Commands.Add(command);
                }
            }
        }
        foreach (var item in favoriteCommands.Commands)
        {
            Debug.Print("Commande favorite: " + item.Name);
        }
    }
    public void SetData(VehicleDataResponse vehicleData)
    {
        if (vehicleData.response != null)
        {
            battery = vehicleData.response.charge_state.battery_level;
            preconditioning_times = vehicleData.response.charge_state.preconditioning_times;
            precont_enable = vehicleData.response.charge_state.preconditioning_enable ? "Program is actived" : "Program is not activated";
            sentrymode = vehicleData.response.vehicle_state.sentry_mode;
        }
    }
    private async Task CommandTrigger(Command command)
    {
        if (VIN != null && userToken != null)
        {
            string commandName = command.Name;
            var methodInfo = typeof(CommandsMethod).GetMethod(commandName);
            if (methodInfo != null)
            {

                //making sure the vehicle is awake !
                if (await WakeUp.GetVehicleInfo(VIN,userToken) == null)
                {
                    Debug.Print("Vehicle is not awake, let's wake it up !");
                    var vehiculeData = await WakeUp.WakeItUp(VIN, userToken);
                }
                else 
                {
                    var vehiculeData = await WakeUp.GetVehicleInfo(VIN, userToken);
                }
                //call the method
                await (Task)methodInfo.Invoke(null, new object[] { VIN, userToken, vehicleData });
                //update the vehicleData
                vehicleData = await WakeUp.GetVehicleInfo(VIN, userToken);
                if (vehicleData != null)
                {
                    SetData(vehicleData);
                    StateHasChanged();
                }
            }
        }
        else
        {

            Debug.Print("No vehicule found to perform the action !");
        }
    }
}